<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">
<head>

</head>

<body>
  <h1>Spring Boot File Upload Example(Post)</h1>
  <hr/>
  <h4>Upload Single File:</h4>
  <p>Paragraph</p>
  <form action = "/uploadCsv"  enctype="multipart/form-data" method = "post">
    <input type="file" name="file1"/> <br/><br/>
    
    <table name= "table1" border="0" cellspacing="2">
   
    <tr>
        <td style="height:3px" colspan="2"></td>
    </tr>
    <tr style="background-color: #383838">
        <td></td>
    </tr>
    <tr></tr>
    <tr>
        </div>
        </div>
        </td>
    </tr>
</table>

    
    
  <button type="submit" id = "submitBtn">Submit</button>
  </form>
  <hr/>
  
  
</body>
</html>



